@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: #FFFFFF;
  height: 100%;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em 1em;
}

.logo-container {
  font-family: 'Akaya Telivigala';
  text-align: center;
  padding: 10px 20px 20px 20px;
}

.logo-container h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.logo-container h1 + p {
  font-size: 1.2rem;
  font-style: italic;
}

.quick-stats {
  margin-top: 5px;
}

.quick-stats span {
  margin: 0 10px;
}

/* Footer */
footer {
  background-color: #330867;
  text-align: center;
  padding: .5em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #f1c40f;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.add-btn {
  padding: 15px 75px;
  margin-bottom: 20px;  
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  background: #330867;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.add-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.add-btn:active {
  color: #000
}

.add-btn:active:after {
  background: transparent;
}

.add-btn:hover:before {
  opacity: 1;
}

.add-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #330867;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}